<section id="{{ section.slug | slugify }}" class="block block-media-1">
  <div class="container">
    <figure>
      {% if section.image | relative_url(section.image | relative_url.length)=='4' %}
      <video src="{{ section.image | relative_url }}" width=600 control="control">
      {% else %}
      <img src="{{ section.image | relative_url }}" alt="{{ section.caption }}" loading="lazy">
      {% endif %}
      {% if section.caption %}
      <figcaption>{{ section.caption }}</figcaption>
      {% endif %}
    </figure>
  </div>
</section>
