<section id="{{ section.slug | slugify }}" class="block block-one-column-1">
  <div class="container">
    {% if section.headline == "demo" %}
    <p class="codepen" data-height="531" data-theme-id="light" data-default-tab="js,result" data-user="ifatess" data-slug-hash="JjRLKOx" style="height: 531px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="game demo">
    <span>See the Pen <a href="https://codepen.io/ifatess/pen/JjRLKOx">
    game demo</a> by ifatess (<a href="https://codepen.io/ifatess">@ifatess</a>)
    on <a href="https://codepen.io">CodePen</a>.</span>
    </p>
    <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
    {% else %}
    {% if section.headline == "proto" %}
    <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FqjoplyvWUHTQIA272TzI38%2F2048-Preview%3Fnode-id%3D0%253A3%26frame-preset-name%3DiPhone%252011%2520Pro%2520Max%26scaling%3Dscale-down" allowfullscreen>
    </iframe>
    {% else %}
    <div class="columns">
      <div class="column">
        <h3>{{ section.headline }}</h3>
        <p>{{ section.content }}</p>
      </div>
    </div>
    {% endif %}
    {% endif %}
  </div>
</section>
