<section id="{{ section.slug | slugify }}" class="block block-media-1">
  <div class="container">
    <figure>
      {% if section.caption == "Video" %}
      <p align="center">
      <video src="{{ section.image | relative_url }}" width=1000 controls="controls" align="center">
      </p>
      {% else %}
       {% if section.caption == "Youtube" %}
        <p align="center">
        <video src="https://www.youtube.com/embed/nWntxhWv4Pg" width=1000 controls="controls" align="center">
        </p>
        {% else %}
        <img src="{{ section.image | relative_url }}" alt="{{ section.caption }}" loading="lazy">
        {% if section.caption %}
        <figcaption>{{ section.caption }}</figcaption>
        {% endif %}
      {% endif %}
     {% endif %}
    </figure>
  </div>
</section>
