<section id="{{ section.slug | slugify }}" class="block block-one-column-1">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h3>{{ section.headline }}</h3>
        <p>{{ section.content }}</p>
      </div>
    </div>
  </div>
  <p class="codepen" data-height="359" data-theme-id="light" data-default-tab="js,result" data-user="wout" data-slug-hash="WpzNVE" style="height: 359px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Fully functional Pong game with effects">
  <span>See the Pen <a href="https://codepen.io/wout/pen/WpzNVE">
  Fully functional Pong game with effects</a> by Wout Fierens (<a href="https://codepen.io/wout">@wout</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
</section>
